
@{
    ViewData["Title"] = "Index";
    ViewBag.Title = "Alunos Pedro Fonseca";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Pagina do Aluno</h1>

    <h2>@ViewBag.nota</h2>
    <h3>@ViewData["Escola"]</h3>

    <p>meu nome é @ViewData["nome"] @ViewData["sobrenome"] @ViewData["terceironome"]</p>
</body>
</html>

